.title > h1{
  color: #242f3e;
  position: relative;
  padding-left: 20px;
  font-size: 26px;
  flex:0 0 auto;
}
.title>h1::before{
  position: absolute;
  content: '';
  display: inline-block;
  width: 5px;
  left: 0px;
  height: 100%;
  background-color: #e4e6e9;
}
.title{
  margin-top: 30px;
  display: flex;
}
.title__line{
  width: 100%;
  position: relative;
}
.title__line::after{
  content: '';
  position: absolute;
  display: inline-block;
  height: 1px;
  right: 0;
  top: 17px;
  left: 10px;
  background-color: #e4e6e9;
}